<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register</title>
</head>
<body>
<h1>New Account.</h1>
    <form action="/user/new" method="post">
    <input type="text" name="name" id="name" placeholder="Johnny Appleseed">
    <input type="email" name="email" id="email" placeholder="me@example.com">
    <input type="password" name="password" id="password" placeholder="password">
    <input type="submit" value="Login">
    </form>
</body>
</html>