* {
    font-family: 'SauceCodePro Nerd Font';
    /* background: black; */
    color: white;
    text-align: center;
    text-shadow: 1px 1px black;
}

h1 {
    font-weight: normal;
    font-size: 80px;
}
div{
    color: greenyellow;
}